html{
    scroll-behavior: smooth;
}

/*------hero-section -----*/
.hero_section {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    font-family: 'Unbuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero_section h1 {
    background-color: #191919;
    height: 5rem;
    font-size: 4.5rem;
    color: var(--site_color_1);
    text-align: center;
    font-weight: 600;
    line-height: 5rem;
    overflow: hidden;
}

.hero_section h1 ul li {
    position: relative;
    animation: 5s ease-in-out 180ms 1 normal forwards running rolling_words;
}

@keyframes rolling_words {
    0%{
        top: o;
    }
    25%{
        top: 0;
    }
    26%{
        top: -5rem;
    }
    50%{
        top: -5rem;
    }
    51%{
        top: -10rem;
    }
    75%{
        top: -10rem;
    }
    76%{
        top: -15rem;
    }
    100%{
        top: -15rem;
    }
}

/*------- about------- */
.side_heading {
    text-align: center;
    font-weight: 600;
    padding: 6rem 0 4rem;
}

#about {
    width: 100%;
    margin: 0 auto;
}

#about p{
    margin-block: 2rem;
}

#about p a{
    display: none;
    padding: 0.5rem;
    font-weight: 600;
    background-color: #776767;
    border-radius: 0.7rem;
}

#about p a:hover {
    font-size: 1.7rem;
    line-height: 16px;
    color: var(--site_color_1_hover);
}

/* -----education------ */
#education {
    margin: 0 auto;
    background-color: var(--site_color_1);
    padding-bottom: 4rem;
}

section #education table{
    width: 100%;
}

.education_info th, .education_info td {
    font-size: 1.7rem;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 0.2rem solid #ddd;
}

.education_info th {
    font-size: 2.1rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
}


#education .edu_list_form {
    display: none;        
}


/*------ skills ------*/

#skills {
    width: 100%;
    margin: 0 auto;
}

#skills h2{
    margin-block: 2rem;
    font-weight: 600;
}

.skill_box {
    height: 0.4rem;
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
}

.skill_box_fill {
    height: 0.4rem;
    background-color:#141414 ;
}

.java {
    width: 50%;
}

.html {
    width: 40%;
}

.javascript {
    width: 10%;
}

.python {
    width: 35%;
}

.sql {
    width: 30%;
}

/*------projects _scetions------*/
#projects {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

/*------ cv ------*/

.cv {
    background-color: #b7c3c5;
    margin: 0 auto;
    padding: 8rem 3rem;
    display: flex;
    justify-content: space-around;
    /* gap: 25rem; */
    align-items: center;
}

.cv h3 {
    font-size: 8rem;
}

.cv .box {
    width: 35.2rem;
    height: 50rem;
    background-image:url(/img/cv.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #000;
    border-radius: 0.5rem;
}

.cv .box .bgcolor{
    width: 100%;
    height: 100%;
    background-color: #000;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease-in-out 150ms;
    opacity: 0;
}


.cv .box .bgcolor:hover{
    opacity: 0.7;
    
}

.cv .box .bgcolor a{
    text-transform: uppercase;
    font-weight: 600;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    line-height: 6rem;
}

.cv .box ul li:nth-child(1) a {
    padding: 1rem 3.6rem;
}

.cv .box .bgcolor li a:hover{
    font-size: 1.7rem;
    color: var(--site_color_1_hover);
    border-color: var(--site_color_1_hover);
}

.cv .box .small_version{
    display: none;
}


/* mediaquerys */


/* media_query_for_mobile_device_(600px */

@media screen and (max-width:600px) {
    /*------hero-section -----*/
    .hero_section h1 ul li {
        font-size: 2.5rem;
    }
    
    /*------- about------- */

    #about p a{
        width: fit-content;
        display: block;
        padding: 1rem;
        font-weight: 600;
        background-color: #776767;
        border-radius: 0.7rem;
    }

    #about p .extra_information {
        display: none;
    }

    /* -----education------ */
    #education {
        margin: 0 auto;
        padding:0 1rem 4rem;
    }

    .education_info {
        display: none;
    }

    li {
        list-style: disc;
    }
    
    #education .edu_list_form {
        width: 100%;
        display: contents;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
    }

    #education .edu_list_form ul li:nth-child(1) {
        list-style: none;
        font-size: 3.2rem;
    }
    
    
    /*------ cv ------*/

    .cv {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .cv h3 {
        padding: 2rem 3rem;
        font-size: 3.2rem;
    }

    .cv .box {
        width: 100%;
        height: 8rem;
        background-image:none;
        border: none;
        background-color: #2e2e2e;
        border-radius: 1rem;
    }

    .cv .box .bgcolor{
        display: none;
    }

    .cv .box .small_version{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: var(--site_color_1);
        gap: 1.5rem;
        flex-grow: 1;
        overflow: hidden;
    }

    .cv .box .small_version li{
        font-size: 2.8rem;
        list-style: none;
        padding: 2rem 0.5rem;
    }

    .cv .box .small_version li:nth-child(2){
        flex-grow:1.25;
    }
}

/*end_of_media_query_for_mobile_device */

@media screen and (min-width:601px) and (max-width: 776px) {
    /* hero_section */
    
    
    /* -----education------ */
    #education {
        margin: 0 auto;
        padding:0 1rem 4rem;
    }

    .education_info {
        display: none;
    }

    li {
        list-style: disc;
    }
    
    #education .edu_list_form {
        width: 100%;
        display: contents;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
    }

    #education .edu_list_form ul li:nth-child(1) {
        list-style: none;
        font-size: 3.2rem;
    }

    /*------ cv ------*/

    .cv {
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .cv h3 {
        padding: 2rem 3rem;
        font-size: 5.2rem;
    }

    .cv .box {
        width: 100%;
        height: 8rem;
        background-image:none;
        border: none;
        background-color: #2e2e2e;
        border-radius: 1rem;
    }

    .cv .box .bgcolor{
        display: none;
    }

    .cv .box .small_version{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: var(--site_color_1);
        gap: 1.5rem;
        flex-grow: 1;
        overflow: hidden;
    }

    .cv .box .small_version li{
        font-size: 2.8rem;
        list-style: none;
        padding: 2rem 0.5rem;
    }

    .cv .box .small_version li:nth-child(2){
        flex-grow:1.25;
    }

}


/* end_of_mediaQuary */